.header {
    font-style: italic;
    color: orange;
    background-color: lightseagreen;
}
.container {
    background-color: lightgoldenrodyellow;
}
.color1 {
    background-color: violet;
}
.color2 {
    background-color: darkviolet;
}
.color3 {
    background-color: greenyellow;
}
.footer {
    color: white;
    background-color: black;
}