.container {
    background-color: orange;
    height: 150px;
    width: 150px;
    display: inline-block;
}
.container2 {
    background-color: orange;
    height: 150px;
    width: 150px;
    display: inline-block;
}
.container3 {
    background-color: olive;
    height: 150px;
    width: 150px;
    display: block;
    border: 3px solid black;
}
.block {
    background-color: lightcoral;
    margin: 30px;
    padding: 60px;
    border: 2px solid black;
    width: 500px;
    box-sizing: border-box;
}
.block2 {
    background-color: lightcoral;
    margin: 30px;
    padding: 60px;
    border: 2px solid black;
    width: 500px;
    box-sizing: content-box;
}
