.box {
    background-color: lightcoral;
    padding: 10px;
    width: 200px;
    height: 100px;
    float: left;
    margin: 20px;
    overflow: auto;
}
.second {
    background-color: greenyellow;
    padding: 10px;
    width: 200px;
    height: 100px;
    float: left;
    margin: 20px;
    overflow: hidden;
}
.third {
    background-color: lightseagreen;
    padding: 10px;
    width: 200px;
    height: 100px;
    float: left;
    margin: 20px;
    overflow: scroll;
}