@use "variables" as *;

.footer {
  padding-block: 50px;
  color: $color-text-footer;

  .footer .author {
    font-size: 21px;
    padding-bottom: 20px;
  }

  .footer .copyright {
    font-size: 13px;
  }
}