$bg-dark: #34547A;
$bg-light: #EEEFF1;
$bg-white: #F9F9F9;
$color-text: black;
$color-text-hover: #34547A;
$color-text-light: #727272;
$color-text-button: white;
$color-text-projects: white;
$color-text-footer: white;

$main-font-family: 'Roboto';